<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    
    <!-- Sales order save after event -->
    <event name="sales_order_save_after">
        <observer name="dshk_order_webhook_observer_save" instance="Dshk\Webhook\Observer\OrderWebhookObserver" />
    </event>

    <event name="catalog_product_save_after">
        <observer name="dshk_product_save_after" instance="Dshk\Webhook\Observer\ProductSaveAfter" />
    </event>

    <event name="catalog_product_delete_before">
        <observer name="dshk_product_delete_before" instance="Dshk\Webhook\Observer\ProductDeleteBefore" />
    </event>

</config>
